<?xml version="1.0" encoding="UTF-8" ?>
<widget id="tw.edu.nfu.eZTravel" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
<!-- versionCode is optional and Android only -->
  <name>Anh's Cinema</name>
  <description>
      An example for phonegap build APP from anhk501@gmail.com.
  </description>
  <author href="https://www.facebook.com/anhlinh1920" email="anhk501u@gmail.com">
      Nguyen Minh Anh
  </author>
  <content src="index.html" />
  <platform name="android">
    <icon src="res/marvel.png" />
    <icon src="res/android/marvel.png" density="ldpi" />
    <icon src="res/android/marvel.png" density="mdpi" />
    <icon src="res/android/marvel.png" density="hdpi" />
    <icon src="res/android/marvel.png" density="xhdpi" />
  </platform>
</widget>